
@{
    ViewBag.Title = "Methods";
}

<h4>Methods</h4>
<ul>
    <li>Authorize</li>
    <li>MiceRequest</li>
    <li>MiceApplyUpdatesRequest</li>
    <li>AbortQuery</li>
</ul>


<h4>Commands</h4>
<ul>
    <li><a href="/home/ClearCache">Clear Cache</a></li>
    <li><a href="/home/SendMail">Send Mail</a></li>
    <li><a href="/home/PushDocumentWeb">Push Document</a></li>
</ul>



